doctype html
html
    head
        title My Site
        link(rel='stylesheet', href='/css/main.min.css')
        //script(src='https://use.fontawesome.com/c132285593.js')
    body
        include sections/header.pug
        include sections/foot.pug